body, html{
    padding: 0px;
    margin: 0px;
}
header {
    background-color: antiquewhite;
}
nav {
    background-color: aquamarine;
    width: 1024px;
    display: flex;
}
.div-logo {
    background-image: url("../images/Bask.png");
}